<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="строительство и продажа загородной недвижимости в уфе по дешевым ценам в рассрочку в коттеджных поселках нагаево, миловка, жилино, жуково напрямую с застройщика">
  <meta name="keywords" content="коттеджи, таунхасы,загородные дома в уфе и жуково, миловке, акбердино, цены от застройщика">
  <meta name="author" content="">

  <meta name='yandex-verification' content='4a4390245b12e702' />


  <!-- Note there is no responsive meta tag here -->

  <link rel="icon" href="../../favicon.ico">

  <title>АК Йорт - загородная недвижимость по доступной цене</title>

  <!-- Bootstrap core CSS -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">


  <link href="/bower_components/fotorama/fotorama.css" rel="stylesheet">
  <link href="/bower_components/Boxer/jquery.fs.boxer.css" rel="stylesheet">


  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script src="/bower_components/respond/dest/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/css/all.css"/>
  <link rel="stylesheet" href="/css/non-responsive.css"/>

  <style>

      body {

          padding-top: 0px !important;
      }

      #ux-header-image {
          margin-top: 16px;
          margin-left: 8px;
      }


      .carousel {
          margin-bottom: 0;
          padding: 0 40px 30px 40px;
      }
      /* The controlsy */
      .carousel-control {
          left: -12px;
          height: 40px;
          width: 40px;
          background: none repeat scroll 0 0 #222222;
          border: 4px solid #FFFFFF;
          border-radius: 23px 23px 23px 23px;
          margin-top: 90px;
      }
      .carousel-control.right {
          right: -12px;
      }
      /* The indicators */
      .carousel-indicators {
          right: 50%;
          top: auto;
          bottom: -10px;
          margin-right: -19px;
      }
      /* The colour of the indicators */
      .carousel-indicators li {
          background: #cecece;
      }
      .carousel-indicators .active {
          background: #428bca;
      }


  </style>


</head>

<body>

<div class="container" id="ux-container">

  <div class="row" id="ux-header">

    <div class="col-md-5">

      <p id="ux-header-text-main">
        <a href="/"> ДОМ ВАШЕЙ МЕЧТЫ </a>
      </p>

      <p id="ux-header-text-small">
        загородные дома по цене квартиры
      </p>

    </div>

    <div class="col-md-3">

      <div id="ux-header-image">

        <a href="/">     <img src="/images/logo.png" alt=""/> </a>

      </div>

    </div>

    <div class="col-md-4">

      <div id="ux-header-contacts">

        <p id="ux-header-phone">

          8(347) 266 55 82
        </p>

        <p id="ux-header-worktime">

          с 10:00 до 20:00
        </p>


        <a href="#callbackhunter">
          <p id="ux-header-callback">


            ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

          </p>
        </a>
      </div>


    </div>

  </div>


  <div class="row">

    <div class="ux-hr"></div>

    <div class="main_menu">

      <ul>

        <li class="active">ГЛАВНАЯ</li>
        <li><a href="/houses">ГОТОВЫЕ ДОМА</a></li>
        <li><a href="/pages/uslugi">УСЛУГИ</a></li>

        <li><a href="/projects">ПРОЕКТЫ</a>
          <!--
                              <ul class="ux-sub-menu">
                                  <li><a href="/products.html">Таун-хаусы</a></li>
                                  <li><a href="/products.html">Коттеджи</a></li>
                                  <li><a href="/products.html">Дома из бруса</a></li>
                              </ul>
          -->
        </li>

        <li><a href="/pages/information">ИНФОРМАЦИЯ</a>
          <!--
                     <ul class="ux-sub-menu">
                             <li><a href="/products.html">Таун-хаусы</a></li>
                             <li><a href="/products.html">Коттеджи</a></li>
                             <li><a href="/products.html">Дома из бруса</a></li>
                         </ul>
     -->
        </li>

        <li><a href="/actions">АКЦИИ</a></li>
        <li id="foreign"><a href="/pages/foreign">ЗАРУБЕЖНАЯ НЕДВИЖИМОСТЬ</a></li>

        <!-- <li><a href="/about.html">О НАС</a></li> -->
        <!--<li><a href="/about.html">НОВОСТИ</a></li><!--
                <li><a href="#">Галерея</a></li>
                <li><a href="#">Презентация</a></li>
                 -->


      </ul>

    </div>



  </div>





  <div class="row" id="ux-gallery">

    <div class="ux-hr"></div>
    <!-- Fotorama -->
    <div id="fotorama" class="fotorama" data-width="970"  data-max-width="100%" data-arrows="true"
         data-click="false"
         data-swipe="false"

         data-transitionduration="750"
    >

      <div data-img="/images/slide_001.jpg" >


      </div>

      <div data-img="/images/slide_002.jpg" class="slider_caption">
        <a href="#zagorod">

          <h3>Загородные дома</h3>

          <p>Хорошие загородные дома</p>

        </a>

      </div>

      <div data-img="/images/slide_003.jpg" class="slider_caption">
        <a href="#kottedj">

          <h3>Коттеджи на продажу</h3>

          <p>Дома на продажу</p>

        </a>

      </div>
    </div>

  </div>

  <div class="ux-hr"></div>


  <div class="row ux-brief">

    <div class="col-md-10 col-md-offset-1">


      <div class="ux-centered-text">

        <h4>ЗАГОРОДНЫЕ ДОМА: ПОД КЛЮЧ, СТРОИТЕЛЬСТВО И ПРОЕКТИРОВАНИЕ</h4>

      </div>

      <p  class="lead text-justify">

        Компания «Ак Йорт» специализируется на <b>малоэтажном строительстве</b>. У нас вы можете заказать, как <b>строительство домов под ключ</b>, так и отдельные этапы возведения, проектирования. Мы занимаемся возведением: кирпичных домов, домов из бруса, таун-хаусов. <b>Мы гарантируем</b> прозрачные цены без доплат, заказ качественных материалов, контроль всех этапов строительства дома и соблюдение всех сроков постройки.
      </p>

    </div>

  </div>



  <div class="row">

    <div class="ux-centered-text">

      <h3>Мы продаем готовые дома</h3> <a class="btn btn-success" href="/houses">смотреть все варианты</a>

    </div>

  </div>
  <div class="row" class="ux-projects">


        <%= render partial: "frontend/houses/item", collection: House.take(3), :as => :house %>


  </div>

  <div class="ux-hr"></div>

  <div class="row" style="margin-top: 20px;height:60px; background-color: rgb(251, 253, 144)">
    <div class="col-md-10 col-md-offset-2">

      <div class="center-block" style="margin-top: 20px;color: rgb(24, 5, 5);">

        <h4>ЛУЧШЕЕ ВЛОЖЕНИЕ СБЕРЕЖЕНИЙ: НЕДВИЖИМОСТЬ ЗА РУБЕЖОМ</h4>

      </div>

    </div>
  </div>

  <!--
      <div class="row">

              <div class="ux-centered-text" style=" margin-top: 16px; margin-bottom: 16px;">
                 <a href="/houses" class="btn btn-success"> Смотреть все варианты</a>

              </div>

       </div>
  -->

  <div class="row" class="ux-projects">

    <img src="images/banner_foreign.jpg">


    <!--
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

             <div class="ux-project-header">

                 <p>Миловка</p>

             </div>

             <a href="/project/1">

                 <img class="ux-project-image" src="/images/project_02.jpg" alt=""/>

                 <div class="ux-image-caption">

                     <ul class="list-inline ux-project-caption">

                         <li><span>63.80 м²</span></li>

                         <li>от 2 650 000 р.</li>

                     </ul>

                 </div>

             </a>

         </div>


         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

             <div class="ux-project-header">

                 <p>Миловка</p>

             </div>

             <a href="/project/1">

                 <img class="ux-project-image" src="/images/project_1.jpg" alt=""/>

                 <div class="ux-image-caption">

                     <ul class="list-inline ux-project-caption">

                         <li><span>63.80 м²</span></li>

                         <li>от 2 650 000 р.</li>


                     </ul>

                 </div>

             </a>

         </div>


 -->






  </div>


  <div class="ux-hr"></div>

  <div class="row">
    <div class="ux-centered-text"> <h3>Почему мы?</h3> </div>
    <%=   render partial: 'partials/gallery',  object: Gallery.find(1) %>
  </div>

  <div class="row">

    <div class="col-md-5">

      <div class="row">
        <div class="col-md-6">
          <img src="/images/plashka.png" alt="">
        </div>
        <div class="col-md-6">
          <strong>Технологии в строительстве коттеджей</strong>
          <br>
                        <span class="text-justify">
            
Подробно расскажем, о применяемых технологиях в строительстве коттеджей из кирпича и другого камня
 
        </span>
          <br>
          <a href="/articles"> Подробнее</a>
        </div>
      </div>





    </div>
    <div class="col-md-7">

      <ul class="ux-adv">
        <li>Стройкой руководит прораб имеющий высшее строительное образование.</li>
        <li>За качеством работ по строительству коттеджей из кирпича следит инспектор технадзора.</li>
        <li>В работе мы используем профессиональный инструмент и оборудование ведущих производителей.</li>
        <li>Отлаженная организация труда, регулярная уборка и вывоз мусора со строительной площадки.</li>
      </ul>

    </div>

  </div>

  <div class="ux-hr"></div>

  <div class="row">
    <div class="ux-centered-text"> <h3>Фото с процесса работ</h3> </div>
  </div>
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-12">
      <div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <!--                     <li data-target="#Carousel" data-slide-to="2"></li> -->
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">
          <?php
                $items = Gallery::find(1)->items();

          $active = "active";
          $id=0;

          $items->chunk(4, function($items) use(&$active, $id)
          {
          ?>
          <div class="item <?=$active?:""?>">
          <div class="row">

            <?php
					    foreach ($items as $item)
					    {
					    	echo $item->toHtml($id);
            };

            $active = false;

            $id ++;


            ?>

          </div><!--.row-->
        </div><!--.item-->

        <?php
		    
		}
		);

?>




      </div><!--.carousel-inner-->

      <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
      <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
    </div><!--.Carousel-->

  </div>
</div>
<!-- </div> --><!--.container-->

<div class="ux-hr"></div>

<div class="row">

  <div class="ux-centered-text">

    <h3>Этапы строительства домов</h3>

  </div>

</div>

<div class="row">

  <div class="col-md-12" >


    <p>Перед тем, как начать строительство каменных домов, домов из кирпича, поризованных блоков, необходимо научиться видеть всю картину предстоящего мероприятия целиком.</p>
    <ul style="width: auto;" class="ux-adv"> <li><strong>Подготовительные работы</strong> - до того, как перейти к непосредственным работам по возведению жилища, необходимо определиться с местом, которое, должно соответствовать определенным нормам. Так, если в проекте вашего будущего дома будет наличествовать цокольный этаж, важно выявить уровень залегания грунтовых вод, который не должен располагаться слишком близко к поверхности почвы. Для экономии энергоресурсов, используемых для отопления будущего дома, следует заранее определить уровень «продуваемости» местности.</li> <li><strong>Проектирование коттеджа</strong> - если место и почва полностью отвечают нормативам строительства, самое время заняться проектом будущего дома. На этом этапе вы можете заручиться нашей поддержкой, ведь в базе каталога сайта находится огромное количество самых разных проектов, с применением классических и инновационных материалов.</li> <li><strong>Основные работы</strong> - перед непосредственным строительством дома необходимо позаботиться о подведении основных коммуникаций, как то вода и электричество. Когда эти энергоресурсы будут доступны, можно преступать к устройству фундамента дома. Это, пожалуй, наиболее длительный процесс возведения дома, так как по технологическим нормам бетон должен застывать на протяжении 28 дней при определенных температурных условиях. Идеальное время для заливки бетона – конец лета-раняя осень.</li> <li>Сроки возведения стен и крыши зависят напрямую от площади дома и архитектурной сложности. После того как они построены, следует утепление всей конструкции дома, проводится устройство пола, разводка коммуникаций, внутренние чистовые работы. </li> </ul>
  </div>

</div>




<div class="ux-hr"></div>


<div class="row">


  <div class="col-md-4" >


    <div class="ux-info-block" style="height:280px">
      <p class="ux-info-block-header ">Статьи</p>

      <p>
        <?php
	           $articles = Article::where('category_id', 1)->remember(1000)->take(5)->get();
        ?>

      <ul class="list-unstyled" id="articles">

        @foreach($articles as $article)

        <li><a href="/articles/{{$article->slug}}">{{$article->title}}</a></li>

        @endforeach

      </ul>

      </p>
    </div>

  </div>
  <div class="col-md-4">


    <div class="ux-info-block" id="vk_groups" style="height:280px">


    </div>

  </div>
  <div class="col-md-4">


    <div class="ux-info-block" style="height:280px">



      <img src="https://pp.vk.me/c624121/v624121574/d048/8tE5qXmrVco.jpg" width="150" height="120">

      <p>КУПЛЮ земельный участок в п.РАЕВКЕ,<br> с.КИРГИЗ-МИЯКИ, в п.ЧИШМАХ от 10 соток до 1 гектара. <br>
        ТЕЛ.8-927-937-1234.</p>


    </div>

  </div>


</div>


<div class="row" style="margin-top: 20px;height:60px; background-color: rgb(251, 253, 144)">
  <div class="col-md-10 col-md-offset-2">

    <div class="center-block" style="margin-top: 15px;color: rgb(24, 5, 5);">

      <h4>ОСТАЛИСЬ ЕЩЕ ВОПРОСЫ? <a href="#callbackhunter" class="btn btn-success">ЗАКАЖИТЕ БЕСПЛАТНЫЙ ЗВОНОК</a></h4>

    </div>

  </div>
</div>

@include('footer')


</div>    <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


<script src="/bower_components/fotorama/fotorama.js"></script>
<script src="/bower_components/Boxer/jquery.fs.boxer.min.js"></script>



<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

<!-- VK Widget -->

<div id="vk_div">
  <div id="vk_groups" class="iframetrack"></div>
</div>


<script type="text/javascript">

    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ))
        return matches ? decodeURIComponent(matches[1]) : undefined
    }


    function setCookie(name, value, props) {
        props = props || {}
        var exp = props.expires
        if (typeof exp == "number" && exp) {
            var d = new Date()
            d.setTime(d.getTime() + exp*1000)
            exp = props.expires = d
        }
        if(exp && exp.toUTCString) { props.expires = exp.toUTCString() }

        value = encodeURIComponent(value)
        var updatedCookie = name + "=" + value
        for(var propName in props){
            updatedCookie += "; " + propName
            var propValue = props[propName]
            if(propValue !== true){ updatedCookie += "=" + propValue }
        }
        document.cookie = updatedCookie

    }

    function deleteCookie(name) {
        setCookie(name, null, { expires: -1 })
    }

    VK.Widgets.Group("vk_groups", {mode: 0, width: "294", height: "280", color1: 'FEFDEB', color2: '2B587A', color3: 'BB080E'}, 78593822);
    /*
     if (!getCookie('connected')) {

     VK.Widgets.Group("vk_groups", {mode: 0, width: "294", height: "280", color1: 'FEFDEB', color2: '2B587A', color3: 'BB080E'}, 78593822);


     }
     */

</script>

<!--
<style>
#vk_groups {
	position: absolute;
	opacity: 0;
	z-index: 99;
	height:30px;
	width:50px;
}
</style>
-->
<!-- <script src="/js/main.js"> </script>  -->

<script>
    $(window).ready(function () {

        $(".boxer").boxer();

    });






    //$(window).ready(function () {

    //$('iframe').contents().find('body').on('click', function() {

    //	alert(1);

    //});

    //$("test").click(function () {
    //	alert(22);
    //$("#vk_groups").hide();
    //});
    //});
</script>
@include('metrics')
</body>
</html>
