<%= simple_form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :title, label: 'Заголовок' %>
        <%= error_span(@page[:title]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <%= f.input :seo_desc, label: "Описание сео" %>
        <%= error_span(@page[:seo_desc]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :seo_kwords, label: "Ключевые слова сео" %>
        <%= error_span(@page[:seo_kwords]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= f.input :in_menu, as: :boolean, label: "В меню?" %>
        <%= error_span(@page[:in_menu]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.input :menu_pos, label: "Позиция" %>
        <%= error_span(@page[:menu_pos]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label for="backend_page_image">Картинка</label>
        <%= image_tag(attachment_url(@page, :image, :fill, 32, 32, format: "jpg")) if attachment_url(@page, :image)  %>
      </div>
      <div class="col-md-8">
        <%= f.attachment_field :image %>
        <%= error_span(@page[:image]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <%= f.text_area :content, label: "Текст страницы", class: 'redactor', :rows => 40, :cols => 120 %>
        <%= error_span(@page[:content]) %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        Статус:
      </div>
      <div class="col-md-8">
        <%= f.select :status, options_for_select(Page.statuses.map {|k, v| [v.humanize.capitalize, k]}, @page.status) , {label: "Статус" } %>
        <%= error_span(@page[:status]) %>
      </div>
    </div>

    <br/>

    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_pages_path, :class => 'btn btn-default' %>
<% end %>
<br/>

<% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>