<%- model_class = Page -%>
<div class="page-header">
  <h1>Страницы</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th># </th>
      <th>Заголовок</th>
      <th>Содержание</th>
      <th>Картинка</th>
      <th>Позиция</th>
      <th>В меню?</th>
      <th>Статус</th>
      <th>Создано</th>
      <th rowspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.id, backend_page_path(page) %></td>
        <td><%= page.title %></td>
        <td><%= truncate strip_tags(page.content), length: 40  %></td>
        <td><%= image_tag(attachment_url(page, :image, :fill, 40, 40, format: "jpg")) if attachment_url(page, :image) %></td>
        <td><%= page.menu_pos %></td>
        <td><%= page.in_menu ? 'ДА' : 'НЕТ' %></td>
        <td><span class="label label-info"><%= Page.statuses[page.status] %></span></td>

        <td><%= Russian::strftime(page.created_at, "%d %B") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_backend_page_path(page), :class => 'btn btn-default btn-xs' %>
        </td><td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      backend_page_path(page),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => 'Новая страница'),
            new_backend_page_path,
            :class => 'btn btn-primary' %>
