<%- model_class = Page -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @page.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seo_desc) %>:</strong></dt>
  <dd><%= @page.seo_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seo_kwords) %>:</strong></dt>
  <dd><%= @page.seo_kwords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @page.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menu_pos) %>:</strong></dt>
  <dd><%= @page.menu_pos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published) %>:</strong></dt>
  <dd><%= @page.published %></dd>
  <dt><strong><%= model_class.human_attribute_name(:in_menu) %>:</strong></dt>
  <dd><%= @page.in_menu %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @page.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_id) %>:</strong></dt>
  <dd><%= @page.image_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              backend_pages_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_backend_page_path(@page), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              backend_page_path(@page),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
