<%= simple_form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= error_span(@article[:title]) %>
  <%= f.input :slug %>
  <%= error_span(@article[:slug]) %>
  <%= f.input :seo_desc %>
  <%= error_span(@article[:seo_desc]) %>
  <%= f.input :seo_kwords %>
  <%= error_span(@article[:seo_kwords]) %>
  <%= f.input :image %>
  <%= error_span(@article[:image]) %>
  <%= f.input :content %>
  <%= error_span(@article[:content]) %>
  <%= f.input :category %>
  <%= error_span(@article[:category]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn btn-default' %>
<% end %>
