<%= simple_form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :title, label: 'Заголовок' %>
        <%= error_span(@article[:title]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <%= f.input :seo_desc, label: "Описание сео" %>
        <%= error_span(@article[:seo_desc]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :seo_kwords, label: "Ключевые слова сео" %>
        <%= error_span(@article[:seo_kwords]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= image_tag attachment_url(@article, :image, :fill, 32, 32, format: "jpg") %>
      </div>
      <div class="col-md-8">
        <%= f.attachment_field :image %>
        <%= error_span(@article[:image]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <%= f.text_area :content, label: "Текст статьи", class: 'redactor', :rows => 40, :cols => 120 %>
        <%= error_span(@article[:content]) %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        Статус:
      </div>
      <div class="col-md-8">
        <%= f.select :status, options_for_select(Article.statuses.map {|k, v| [v.humanize.capitalize, k]}, @article.status) , {label: "Статус" } %>
        <%= error_span(@article[:status]) %>
      </div>
    </div>

    <br/>

  <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_articles_path, :class => 'btn btn-default' %>
<% end %>
<br/>

<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>