<%- model_class = Article -%>
<div class="page-header">
  <h1>Записи</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Заголовок</th>
      <th>Статус</th>
      <th> Картинка</th>
      <th>Текст</th>
      <th>Создано</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %> </td>
        <td><%= link_to article.title, backend_article_path(article)%></td>
        <td><span class="label label-info"><%= Article.statuses[article.status] %></span></td>
        <td><%= image_tag attachment_url(article, :image, :fill, 40, 40, format: "jpg") %></td>
        <td><%= truncate strip_tags(article.content), length: 40 %></td>
        <td><%= Russian::strftime(article.created_at, "%d %B")  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_backend_article_path(article), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      backend_article_path(article),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_backend_article_path,
            :class => 'btn btn-primary' %>
