<%= simple_nested_form_for @gallery, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :title, label: 'Заголовок' %>
        <%= error_span(@gallery[:title]) %>

      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <%= f.input :name, label: 'Название' %>
          <%= error_span(@gallery[:name]) %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table id="gallery_items">
          <%= f.simple_fields_for :gallery_items, :wrapper => false do |image_form| %>
              <tr class="fields">
                <td><%= image_form.input :title, label: 'Название' %> </td>
                <td><%= image_tag(attachment_url(image_form.object, :image, :fill, 32, 32, format: "jpg"))  %></td>
                <td><%= image_form.file_field :image, label: "Файл" %></td>
                <td><%= image_form.link_to_remove "Удалить", class:"btn btn-small btn-danger" %></td>
              </tr>
          <% end %>
        </table>
        <p><%= f.link_to_add "Добавить изображение", :gallery_items, :data => { :target => "#gallery_items" }, :class => 'btn btn-small btn-primary' %></p>
      </div>
    </div>


  <%= f.input :published, label: 'Опубликовано' %>
  <%= error_span(@gallery[:published]) %>

  <%= f.button :submit, :class => 'btn-primary', label: 'Сохранить' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_galleries_path, :class => 'btn btn-default' %>
<% end %>
