<%- model_class = Backend::Gallery -%>
<div class="page-header">
  <h1>Галереи</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Заголовок</th>
      <th>Название</th>
      <th>Статус</th>
      <th>Создано</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= link_to gallery.id, backend_gallery_path(gallery) %></td>
        <td><%= gallery.title %></td>
        <td><%= gallery.name %></td>
        <td><% if gallery.published? %>
              <span class="label label-success">Опубликовано</span>
          <% else %>
              <span class="label label-warning">Не опубликовано</span>
          <% end %>
        </td>
        <td><%=Russian::strftime(gallery.created_at, "%d %B")  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_backend_gallery_path(gallery), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      backend_gallery_path(gallery),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Новая галерея"),
            new_backend_gallery_path,
            :class => 'btn btn-success' %>
