<%- model_class = Backend::Gallery -%>
<div class="page-header">
    <h1>Галерея</h1>
</div>
<h3>Изображений в галерее <%= @gallery.gallery_items.count %></h3>
<dl class="dl-horizontal">
  <dt><strong>Заголовок:</strong></dt>
  <dd><%= @gallery.title %></dd>
  <dt><strong>Название:</strong></dt>
  <dd><%= @gallery.name %></dd>
  <dt><strong>Опубликовано:</strong></dt>
  <dd><%= @gallery.published %></dd>
</dl>



<%= link_to t('.back', :default => t("helpers.links.back")),
              backend_galleries_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_backend_gallery_path(@gallery), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              backend_gallery_path(@gallery),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
