<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :seo_desc %>
    <%= f.input :seod_kwords %>
    <%= f.input :content %>
    <%= f.input :menu_pos %>
    <%= f.input :published %>
    <%= f.input :in_menu %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
