<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Seo desc</th>
      <th>Seod kwords</th>
      <th>Content</th>
      <th>Menu pos</th>
      <th>Published</th>
      <th>In menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.seo_desc %></td>
        <td><%= page.seod_kwords %></td>
        <td><%= page.content %></td>
        <td><%= page.menu_pos %></td>
        <td><%= page.published %></td>
        <td><%= page.in_menu %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
