<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Seo desc:</strong>
  <%= @page.seo_desc %>
</p>

<p>
  <strong>Seod kwords:</strong>
  <%= @page.seod_kwords %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Menu pos:</strong>
  <%= @page.menu_pos %>
</p>

<p>
  <strong>Published:</strong>
  <%= @page.published %>
</p>

<p>
  <strong>In menu:</strong>
  <%= @page.in_menu %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
