<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

  <div class="ux-project-header">

    <p><%= house.location.title %></p>

  </div>

  <a href="<%= house.slug %>">


    <%= image_tag attachment_url(house.images.first, :file, :fill, 300, 300, format: "jpg"), {:class => 'ux-project-image   '} %>

    <div class="ux-image-caption">

      <ul class="list-inline ux-project-caption">

        <li><span><%= house.home_size %> м²</span></li>

        <li><%= house.price%> р.</li>
        <!-- <li>подробнее</li> -->

      </ul>

    </div>

  </a>

</div>