<style type="text/css" media="screen">
    /**** BASE ****/
    body {
        color: #888;
    }
    a {
        color: #03a1d1;
        text-decoration: none!important;
    }

    /**** LAYOUT ****/
    .list-inline>li {
        padding: 0 10px 0 0;
    }
    .container-pad {
        padding: 30px 15px;
    }


    /**** MODULE ****/
    .bgc-fff {
        background-color: #fff!important;
    }
    .box-shad {
        -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    }
    .brdr {
        border: 1px solid #ededed;
    }

    /* Font changes */
    .fnt-smaller {
        font-size: .9em;
    }
    .fnt-lighter {
        color: #bbb;
    }

    /* Padding - Margins */
    .pad-10 {
        padding: 10px!important;
    }
    .mrg-0 {
        margin: 0!important;
    }
    .btm-mrg-10 {
        margin-bottom: 10px!important;
    }
    .btm-mrg-20 {
        margin-bottom: 20px!important;
    }

    /* Color  */
    .clr-535353 {
        color: #535353;
    }




    /**** MEDIA QUERIES ****/
    @media only screen and (max-width: 991px) {
        #property-listings .property-listing {
            padding: 5px!important;
        }
        #property-listings .property-listing a {
            margin: 0;
        }
        #property-listings .property-listing .media-body {
            padding: 10px;
        }
    }

    @media only screen and (min-width: 992px) {
        #property-listings .property-listing img {
            max-width: 180px;
        }
    }


</style>

<div class="row">


  <% @houses.find_each do |item| %>
  <div class="col-sm-6">


    <!-- Begin Listing: 609 W GRAVERS LN-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
      <div class="media">
        <a class="pull-left" href="/houses/<%=item.slug%>" target="_parent" style="max-width:100%;">
           <% unless item.images.first.nil? %>
            <%= image_tag attachment_url(item.images.first, :file, :fill, 122, 91, format: "jpg"), class: "img-responsive", alt: item.title %>
           <% else %>
              <img alt="image" class="img-responsive" src="http://placehold.it/300x300" alt="Image" style="max-width:100%;"></a>

        <% end %>
              </a>

        <div class="clearfix visible-sm"></div>

        <div class="media-body fnt-smaller">
          <a href="#" target="_parent"></a>

          <h4 class="media-heading">
            <a href="/houses/<%= item.slug %>" target="_parent"> <%= item.title %><small class="pull-right"><%= item.location.title %></small></a></h4>


          <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">

            <li><b><%= item.price %></b> руб.</li>


            <li style="list-style: none">|</li>


            <li><%= item.home_size %> м2</li>

            <li style="list-style: none">|</li>

            <li><%= House.house_types[item.house_type] %></li>


          </ul>

          <p class="hidden-xs">
            <%= truncate(strip_tags(item.content), :length => 80) %></p>

        </div>
      </div>
    </div><!-- End Listing-->
  </div>
 <% end %>
</div>