<%
   content_for(:title, @house.title)
   content_for(:desc, @house.desc)
   content_for(:keys, @house.keywords)

%>
<div class="row">
  <div class="ux-hr"></div>

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/houses">Дома</a></li>
      <li class="active"><%=@house.title%></li>
    </ol>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <div class="flexslider">
      <ul class="slides">
        <% @house.images.each do |photo| %>
        <li data-thumb="<%= attachment_url(photo, :file, :fill, 122, 91, format: "jpg") %>">
          <%= image_tag attachment_url(photo, :file, :fill, 800, 600, format: "jpg") %>
        </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-md-4" style="background-color: rgba(240, 209, 40, 0.2);">

    <div class="row">
      <p class="bg-success" >
      <dl class="dl-horizontal">
        <dt>Цена</dt> <dd><%=@house.price%> р.</dd>
        <dt>Населенный пункт:</dt> <dd><%= @house.location.title %></dd>
        <dt>Площадь:</dt> <dd><%= @house.home_size%></dd>
        <dt>Материал</dt> <dd><%= @house.material%></dd>
        <dt>Этажность</dt> <dd><%= @house.etaj%></dd>
        <dt>Тип объекта</dt> <dd><%= House.house_types[@house.house_type] %> </dd>

      </dl>
      </p>

    </div>


    <br>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" id="form" method="post" >
          <fieldset>

            <!-- Form Name -->
            <legend>Бесплатная консультация</legend>

            <h5 id="formMSg"></h5>

            <!-- Text input-->
            <div class="form-group">

              <label class="control-label" for="name">Ваше имя</label>

              <div class="col-md-12">
                <input id="inputName" name="name" type="text" placeholder="Ваше имя" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Prepended text-->
            <div class="form-group">
              <label class="control-label" for="phonenumber">Ваш номер телефона</label>
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon">+7</span>
                  <input id="inputPhone" name="phonenumber" class="form-control" placeholder="Введите ваш номер" type="text" required="">
                </div>

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class=" control-label" for="question">Ваш вопрос</label>
              <div class="col-md-12">
                <textarea class="form-control" id="inputMsg" name="question"></textarea>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">

              <div class="col-md-12">
                <input id="submit" name="submit" type="submit" class="btn btn-success"  value="Отправить" >
              </div>
            </div>

          </fieldset>

        </form>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Параметры дома</h3>
      </div>
      <div class="panel-body">

        <div class="lead">
          <%=raw @house.content%>
        </div>

        <div class="row col-md-6">

          <dl class="dl-horizontal">

            <dt>Цена</dt> <dd><%= number_to_currency @house.price, {locale: :ru, precision: 0 } %></dd>
            <dt>Площадь дома</dt> <dd> <%= @house.home_size %> кв. <%= Russian.p(@house.home_size, "метр","метра","метров") %></dd>
            <dt>Цена за м²</dt> <dd><%= number_to_currency @house.price / @house.home_size, {locale: :ru, precision: 0 } %></dd>
            <dt>Тип</dt> <dd><%= House.house_types[@house.house_type] %></dd>
            <dt>Материал здания</dt> <dd><%= @house.material %></dd>

          </dl>

        </div>
        <div class="row col-md-6">

          <dl class="dl-horizontal">

            <dt>Этажность</dt> <dd><%= @house.etaj %> <%= Russian.p(@house.etaj, "этаж","этажа","этажей") %></dd>
            <dt>Площадь участка</dt> <dd> <%= @house.land_area %> <%= Russian.p(@house.etaj, "метр","метра","метров") %></dd>
            <dt>Дата публикации</dt> <dd> <%= Russian::strftime(@house.created_at, "%d %B") %></dd>
            <dt>Номер в каталоге</dt> <dd> <%= @house.id %></dd>

          </dl>

        </div>



      </div>
    </div>

  </div>
</div>




<script>


    $(function() {

        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });

        $("#form").submit(function(ev) {

            ev.preventDefault();

            var phone = $("#inputPhone").val();
            var name = $("#inputName").val();
            var msg = $("#inputMsg").val();

            var self = this;

            //$("#submit").disabled();

            $.post(
                    "/sendmail.php",
                    {
                        phone: phone,
                        name: name,
                        msg: msg

                    },
                    function(data) {
                        console.log(data);
                        $(self).closest('form').find("input[type=text], textarea").val("");
                    }
            );



            //$("#form").reset();

            //$(this).closest('form').find("input[type=text], textarea").val("");
            $("#submit").val("Сообщение успешно отправлено").prop('disabled', true);

            //	$('button').prop('disabled', true);

            return false;


        });
    });


</script>
