<%
  # if @house.blank?
  #   url = backend_houses_url
  # else
  #   url = backend_house_url(@house)
  # end

%>

<%= bootstrap_nested_form_for @house do |f| %>
  <%= f.text_field :title, label: "Заголовок" %>
  <%= error_span(@house[:title]) %>
  <%= f.text_field :keywords , label: "Ключевые слова(SEO)"%>
  <%= error_span(@house[:keywords]) %>
  <%= f.text_field :desc, label: "Описание(SEO)" %>
  <%= error_span(@house[:desc]) %>

    <div class="row">
      <div class="col-md-4">
        <%= f.text_field :price, label: "Цена дома" %>
        <%= error_span(@house[:price]) %>
      </div>
      <div class="col-md-4">
        <%= f.select :house_type, options_for_select(House.house_types.map {|k, v| [v.humanize.capitalize, k]}, @house.house_type) , {label: "Тип дома" } %>
        <%= error_span(@house[:house_type]) %>
      </div>
      <div class="col-md-4">
     <%  %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <%= f.text_field :material, label: "Материал" %>
        <%= error_span(@house[:material]) %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :etaj, label: "Кол-во этажей" %>
        <%= error_span(@house[:etaj]) %>
      </div>
      <div class="col-md-4">

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.text_field :home_size, label: "Площадь дома" %>
        <%= error_span(@house[:home_size]) %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :land_area, label: "Площадь участка" %>
        <%= error_span(@house[:land_area]) %>
      </div>
      <div class="col-md-4">
        <%= f.collection_select :location_id, Location.all, :id, :title, {label: "Нас. пункт"}  %>
        <%= error_span(@house[:city_name]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="images">
          <%= f.fields_for :images, :wrapper => false do |image_form| %>
              <tr class="fields">
                <td><%= image_tag attachment_url(image_form.object, :file, :fill, 32, 32, format: "jpg") %></td>
                <td><%= image_form.file_field :file, label: "Файл" %></td>
                <td><%= image_form.link_to_remove "Удалить", class:"btn btn-small btn-danger" %></td>
              </tr>
          <% end %>
        </table>
        <p><%= f.link_to_add "Добавить изображение", :images, :data => { :target => "#images" }, :class => 'btn btn-small btn-primary' %></p>
      </div>
    </div>
  <%= f.text_area :content, label: "Описание дома", class: 'redactor', :rows => 40, :cols => 120 %>
  <%= error_span(@house[:content]) %>

  <%= f.check_box :published, label: "Опубликовать" %>
  <%= error_span(@house[:published]) %>
  <%= f.check_box :sold, label: "Продано" %>
  <%= error_span(@house[:sold]) %>

  <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_houses_path, :class => 'btn btn-default' %>
<% end %>
