<%- model_class = House -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Дома" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Цена</th>
      <th>Описание</th>
      <th>Опубликовано</th>
      <th>Продано</th>
      <th>Добавлен</th>

      <th rowspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.id %></td>
        <td><%= link_to house.title, backend_house_path(house) %></td>
        <td><%= number_to_currency house.price, {locale: :ru, precision: 0 } %></td>
        <td><p><%= house.etaj %> <%= Russian.p(house.etaj, "этаж","этажа","этажей") %></p>
        <p><%= house.home_size %> м2</p>
        <p><%= house.land_area %> сот</p>
        <p><%= house.location.title %></p></td>
        <td><% if house.published? %>
                <span class="label label-success">Опубликовано</span>
            <% else %>
                <span class="label label-warning">Не опубликовано</span>
            <% end %>
        </td>
        <td><% if house.sold %>
              <span class="label label-danger">Продано</span>
                <% else %>
              <span class="label label-info">Не продано</span>
                <% end %>
        </td>
          <td><%= Russian::strftime(house.created_at, "%d %B") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_backend_house_path(house), :class => 'btn btn-default btn-xs' %>
         </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      backend_house_path(house),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_backend_house_path,
            :class => 'btn btn-success' %>

<%= will_paginate @houses %>
