<%- model_class = House -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<ul>
  <% @house.images.each do |image| %>
  <li><%= image_tag attachment_url(image, :file, :fill, 300, 300, format: "jpg") %>/li>
  <% end %>
</ul>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @house.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @house.slug %></dd>
  <dt><strong><%= model_class.human_attribute_name(:keywords) %>:</strong></dt>
  <dd><%= @house.keywords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @house.desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @house.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price_for_meter) %>:</strong></dt>
  <dd><%= @house.price_for_meter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:house_type) %>:</strong></dt>
  <dd><%= @house.house_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:material) %>:</strong></dt>
  <dd><%= @house.material %></dd>
  <dt><strong><%= model_class.human_attribute_name(:etaj) %>:</strong></dt>
  <dd><%= @house.etaj %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @house.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:home_size) %>:</strong></dt>
  <dd><%= @house.home_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:land_area) %>:</strong></dt>
  <dd><%= @house.land_area %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city_name) %>:</strong></dt>
  <dd><%= @house.city_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_id) %>:</strong></dt>
  <dd><%= @house.location_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published) %>:</strong></dt>
  <dd><%= @house.published %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sold) %>:</strong></dt>
  <dd><%= @house.sold %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              backend_houses_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_backend_house_path(@house), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              backend_house_path(@house),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
