@import "http://webfonts.ru/import/ptsans.css";

body {
    
    background-color: rgba(209,230,255,0.01);;

}


#ux-container {


    background-color: #FFFFFF;
    /*background: url("/images/bg-teny.png") repeat-y 50% 0;

    box-shadow: 1px;*/

    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);

}

#ux-header {

    /*width: 960px;*/
    height: 180px;
    /*margin-top: 12px;*/
    margin-left: 14px;

}

#ux-header {
	
	color: #D0021B;
	
}

#ux-header-contacts {

    margin-top: 32px;
    margin-left: 34px;

}

#ux-header-text-main {

    margin-top: 54px;
    margin-left: -5px;

    font-family: 'PT Sans', 'serif';
    font-weight: 700;;
    font-size: 36px;
    color: #D0021B;
    line-height: 46px;
    width: 400px;

    letter-spacing: 0pt;

    /* ДОМ ВАШЕЙ МЕЧТЫ: */

}

#ux-header-text-main a {
	color: #D0021B;
}

#ux-header-text-small {

    font-family: 'PT Sans', 'serif';
    font-weight: bold;
    font-size: 18px;
    color: #4A4A4A;
    line-height: 23px;
    letter-spacing: 0px;

    padding-top: 2px    ;
    /* загородные дома по ц: */

}


#ux-header-phone {

    padding-top: 4px;
	font-family: PTSans;
    font-size: 24px;
    color: #D0021B;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 2px;;
    /* 8(347) 312 34 55: */

}

#ux-header-worktime {

        font-family: PTSans, 'serif';     font-weight: bold;;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 19px;
    letter-spacing: 0px;
   margin-bottom: 10px;
    /* с 10:00 до 20:00: */

}

#ux-header-callback {

    /*padding-top: 2px;*/
    width: 220px;
    height: 38px;

    /* Rectangle 6: */
    background: #BB080E;
    border: 1px solid #979797;

    font-family: 'PT Sans', 'serif';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;

    font-weight: bold;

    text-align: center;

    padding-top: 10px;

    cursor: pointer;

    /* ЗАКАЗАТЬ ОБРАТНЫЙ ЗВ: */

}


#ux-header-image {

    margin-top: 14px;
    /*margin-left: 10px;*/
    /*padding-left: 12px;*/

}

/* главный слайдер */
#ux-gallery {

    background-color: #FFFFFF;

}


.header_blurred {
    /* Rectangle 19: */
    background-image: -o-linear-gradient(0deg, #FFFFFF 4%, #BDE2F4 54%, #FFFFFF 99%);
    background-image: -moz-linear-gradient(0deg, #FFFFFF 4%, #BDE2F4 54%, #FFFFFF 99%);
    background-image: -ms-linear-gradient(0deg, #FFFFFF 4%, #BDE2F4 54%, #FFFFFF 99%);
    background-image: linear-gradient(-90deg, #FFFFFF 4%, #BDE2F4 54%, #FFFFFF 99%);
}

.ux-hr {
    border-top: 1px solid #E7E7E7 ;
    /*width: 920px;*/
    text-align: center;
    margin-left: 0px;
   margin-bottom: 10px;
    margin-top: -3px;
}

.main_menu {

    font-family: 'Roboto',"Helvetica Neue", Arial, serif; font-weight: 700;
    font-size: 14px;
    color: #4A4A4A;
    /*color: #4A4A4A;*/
    line-height: 19px;

    position: absolute;



    top: 172px;
/*     left: 120px; */

    /*height: 38px;*/
    width: 940px;

    padding-top: 10px;
    margin-left: 20px;
    margin-top: 10px;

    text-transform: uppercase;


}

.main_menu li:hover {

    /*background-color: rgba(208, 2, 27, 0.1);*/

    /*border-bottom: dotted 1px;*/

}


.main_menu li {


    color: #4A4A4A;
    display: inline;

    padding-right: 20px;

}

.main_menu li.active a {


    color: #BB080E;
    display: inline;

/*     padding-right: 20px; */

}

.main_menu a {
    /*color: #000000;*/
    color: #4A4A4A;
    text-decoration: none;
    height: 100px;
}

#foreign a{ 

    color: #BB080E;
    background-color: #F8E71C;

}

/*.main_menu li {*/

/*color: #4A4A4A;*/

/*color: #000000;*/
/*padding-left: 20px;*/

/*}*/
.main_menu a:hover{

    color: #BB080E;
    text-decoration: underline;


}
.main_menu li.active {

    /*color: #9B9B9B;*/
    /*color: #000000;*/
    /*padding-left: 20px;*/
    color: #BB080E;
    /*text-decoration: underline;*/


}

.main_menu li > ul {

     color: #4A4A4A;
   
     position: absolute;
    top: 28px;
    /*width: 60px;*/
    left: 90px;
    background-color: yellow;
     display: none;

}

.main_menu li:hover > ul {

    display: block !important;
   
    
}

/*ul.ux-sub-menu li{

   

    display: block;

    z-index: 9999;
}
*/

#ux-gallery {
    margin-top: 30px;
    padding-top: 10px;

}

.slider_caption {
    /*background-color:    #417505; */
    background-color:   rgba(251, 251, 251, .8);

    margin-top: 320px;
    margin-left: 10px;
    margin-right: 400px;
    width: 330px;
    height: 100px;
}

.slider_caption h3 {

    text-align: center;

    /*font-family: AvenirNext-Bold;*/
    font-size: 18px;
    /*color: #FFFFFF;*/
    font-weight: bold;
    color: #000000;
    line-height: 25px;
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 70px;
    width: 200px;
    /*background-color: green;*/

}

.slider_caption p {

    margin: 6px 0 0 0px;
    padding-left: 20px;
    font-size: 14px;
    /*color: #FFFFFF;*/
    color: #000000;
    line-height: 16px;
    width: 200px;
    /*background-color: rgba(65, 117, 5, .85);*/

    width: 200px;
    /* Натуральное молоко п: */

}

.ux-centered-text {

    text-align: center;
    margin-bottom: 30px;
}


#ux-briff {

    width: 940px;
}

.ux-projects {
    /*width: 940px;*/
    width: 980px;
}

.ux-image-caption {

    background-color: #D0021B;
    margin-top: 0px;
    margin-left: 0px;
    width: 90px;
    height: 30px;
    color: #FFFFFF;

    /*z-index: 9999;*/
    box-sizing: content-box;
    display: inline;

}

.ux-project-cost {

    /*position: relative;*/

    display: inline;

    background-color: #D0021B;
    margin-top: 0px;
    margin-left: 0px;
    /*margin-right: -100px;*/
    width: 60px;
    height: 30px;
    color: #FFFFFF;

    /*z-index: 9999;*/
    /*box-sizing: content-box;*/

}

.ux-project-info {

    /*padding-right: 10px;*/
    background-color: tomato;

}

.ux-project-info p{
    display: inline;
    font-size: 14pt;
    text-align: left;
    margin-left: 0px;

    color: #000000;

}


.ux-project-cost p {

    background-color: tomato;
    display: inline;
    font-size: 14pt;
    padding-left: 58px;
    width: 40px;
    padding-left: 100px;

}

.ux-image-caption a {

    color: #f5f5f5;

}

.ux-image-caption p{

    padding-left: 20px;

    text-align: right;
    padding-right: 4px;
    /*padding-top: 4px;*/
/**/
}


.ux-project-caption {

    margin-left: 0px;
    margin-top: -32px;

    background-color: #FFFFFF;
    width: 290px;
    font-weight: normal;

}

.ux-project-caption li {

     background-color: #D0021B;
      font-size: 12pt;
      line-height: 30px;
      text-align: left;
    /*color: #000000;*/
    /*font-weight: bold;*/
      /*height: 0px;*/
      height: 32px;

    box-shadow: 0 0 1px rgba(0,0,0,0.5);

}

.ux-project-caption li:first-child{

    font-size: 12pt;
    color: #FFFFFF;
    /*border: solid 0px #E7E7E7; */
    /*font-weight: bold;*/

    background-color: #D0021B;

    width: 107px;
}

.ux-project-caption li:last-child{

    font-size: 12pt;
   margin-left: 1px;
   width: 173px;
   background-color: tomato;
   color: #FFFFFF;
   margin-left: 6px;

}

.ux-project-image {

    box-shadow: 0 0 5px rgba(216,216,216,1);

}

.ux-project-image:hover {

    box-shadow: 0 0 10px rgba(248,232,28,0.4);
    margin-bottom: 1px;

}

.ux-project-header {

    position: absolute;

    text-align: center;

    height: 32px;
    font-size: 12pt;
    line-height: 30px;

    font-weight: bold;
    color: rgba(51,51,51,.9);


    width: 290px;

     background-color:   rgba(255, 255, 255, .5);

    margin-top: 0px;


}

.ux-brief {

    background-color: rgba(248,232,28,0.1);

}


.ux-adv {

    list-style: none outside none;

}

.ux-adv li {
    padding: 0 0px 20px 37px;
    background: url("/images/bull-text.png") no-repeat scroll 0 0 transparent;
}


.ux-info-block {

    height: 200px;
    background-color: rgba(248,232,28,0.1);

}

p.ux-info-block-header {

    padding-top: 0px;

    font-weight: bold;

   text-align: center;

}
.property-info {
		
	height: 40px;
	margin-left: 20px;
	padding: 0px 2% 0px 0px;
}


.breadcrumb {
    background-color: #FFFFFF;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

#articles > li {
	
	padding-left: 10px;
	padding-bottom: 10px;

}

#footer {

    height: 100px;
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    background: none repeat scroll 0 0 #282828;
    /*padding-bottom: -148px;*/
   margin-bottom: -30px;
   
   padding-top: 20px;
padding-left: 46px;

}

#footer a {
	
	text-decoration: none;
	color: #333;
	
}

li.footer-list{
	margin-left: 40px;
margin-top: 10px;
	
}







