body{min-width:970px;padding-top:70px;padding-bottom:30px;}
.lead{font-size:16px;}
.page-header{margin-bottom:30px;}
.page-header .lead{margin-bottom:10px;}
.container{width:970px;max-width:none !important;}
.col-xs-4{padding-top:15px;padding-bottom:15px;background-color:#eee;background-color:rgba(86,61,124,.15);border:1px solid #ddd;border:1px solid rgba(86,61,124,.2);}
.container .navbar-header,
.container .navbar-collapse{margin-right:0;margin-left:0;}
.navbar-header{float:left;}
.navbar-collapse{display:block !important;height:auto !important;padding-bottom:0;overflow:visible !important;}
.navbar-toggle{display:none;}
.navbar-collapse{border-top:0;}
.navbar-brand{margin-left:-15px;}
.navbar-nav{float:left;margin:0;}
.navbar-nav > li{float:left;}
.navbar-nav > li > a{padding:15px;}
.navbar-nav.navbar-right{float:right;}
.navbar .navbar-nav .open .dropdown-menu{position:absolute;float:left;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-width:0 1px 1px;border-radius:0 0 4px 4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#333;}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus{color:#fff !important;background-color:#428bca !important;}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus{color:#999 !important;background-color:transparent !important;}