<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="../../favicon.ico">


    <title><%=  yield(:title) if content_for?(:title)%> | АкЙорт недвижимость</title>
    <meta name="description" content="<%=  yield(:desc) if content_for?(:desc)%>">
    <meta name="keywords" content="<%=  yield(:keys) if content_for?(:keys)%>">
    <%= csrf_meta_tags %>
    <!-- Bootstrap core CSS -->

    <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag "frontend/application", :media => "all" %>
    <link rel="stylesheet" href="/bower_components/jquery-colorbox/colorbox.css"/>


    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/bower_components/respond/dest/respond.min.js"></script>

    <![endif]-->

    <link rel="stylesheet" href="/css/all.css"/>
    <link rel="stylesheet" href="/css/non-responsive.css"/>
    <style>

        body {

            padding-top: 0px !important;
        }

        #ux-header-image {
            margin-top: 16px;
            margin-left: 8px;
        }


    </style>
  <%= javascript_include_tag "frontend/application" %>
</head>

<body>

<div class="container" id="ux-container">

    <div class="row" id="ux-header">

        <div class="col-md-5">

            <p id="ux-header-text-main">
                <a href="/" > ДОМ ВАШЕЙ МЕЧТЫ </a>
            </p>

            <p id="ux-header-text-small">
                загородные дома по цене квартиры
            </p>

        </div>

        <div class="col-md-3">

            <div id="ux-header-image">
                <a href="/">
                    <img src="/images/logo.png" alt=""/>
                </a>

            </div>

        </div>

        <div class="col-md-4">

            <div id="ux-header-contacts">

                <p id="ux-header-phone">

                    8(347) 312 34 55
                </p>

                <p id="ux-header-worktime">

                    с 10:00 до 20:00
                </p>

                <a href="#callbackhunter">
                    <p id="ux-header-callback">


                        ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

                    </p>
                </a>
            </div>


        </div>

    </div>


    <div class="row">

        <div class="ux-hr"></div>

        <div class="main_menu">

            <!--@include('menu')-->

        </div>



    </div>


    <div class="row" id="ux-gallery">
        <div class="col-md-12"></div>
    </div>

    <div class="ux-hr" style="width:940px" ></div>


    <%= yield %>

    <div class="row" >

        <div id="footer">


            <div class="col-md-4">

                <ul class="list-unstyled">

                    <li> <a href="/houses">Все дома</a> </li>
                    <li> <a href="/projects">Проекты</a> </li>
                    <li> <a href="/pages/uslugi">Услуги</a> </li>
                </ul>

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>


        </div>

    </div>


</div>    <!-- /container -->



</body>
</html>
